name: Deployment pipeline
env:
  SKIP: ${{ contains(github.event.head_commit.message, '#skip') }}

on:
  push:
    branches:
      - main
  pull_request:    
    branches: [main]    
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Check style
        run: npm run eslint
      - name: Build project
        run: npm run build
      - name: Run tests
        run: npm test
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
  fly_deployment:
    if: ${{ (github.event_name == 'push') && (contains(github.event.head_commit.message, '#skip') == false) }}
    name: Deploy app
    needs: simple_deployment_pipeline
    runs-on: ubuntu-latest
    concurrency: deploy-group    # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
      - name: Success notification
        if: ${{ success() }}
        env:
          DISCORD_WEBHOOK: ${{ secrets.WEBHOOK_URL }}
          DISCORD_EMBEDS: '[{"title": "Deployment Successful", "description": "New version of the project has been deployed successfully.", "color": "green"}]'
        uses: Ilshidur/action-discord@d2594079a10f1d6739ee50a2471f0ca57418b554
      - name: Failure notifications
        if: ${{ failure() }}
        run: echo "Commit:" ${{ github.sha }}
        env:
          DISCORD_WEBHOOK: ${{ secrets.WEBHOOK_URL }}
          DISCORD_EMBEDS: '[{"title": "Deployment Failed", 
            "description": "New version of the project failed to deploy.",
            "color": "red"}]'
        uses: Ilshidur/action-discord@d2594079a10f1d6739ee50a2471f0ca57418b554
  tag_release:
    if: ${{ (github.event_name == 'push') && (contains(github.event.head_commit.message, '#skip') == false) }}
    needs: simple_deployment_pipeline
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@4ed44965e0db8dab2b466a16da04aec3cc312fd8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch


